{% autoescape off %}
Hi {{ user.first_name }},

  Weren't you lucky enough to have a higher standing among other foretellers? Now you got a chance to have your name
stand out and win the special 'Lucky Dog' prize.

  When a match set comes to an end, we select a lucky foreteller randomly as the winner of 'Lucky Dog' prize.
The probability that your name gets drawn depends highly on the number of predictions you have made during the
match set. The more you had predicted, the higher chance you have to be selected as the Lucky Dog.

  The Lucky Dog for Fifa WorldCup 2018 will be chosen tomorrow after the final match. If you have not submitted your
prediction for final match, visit https://{{ domain }} and submit your prediction to increase your chance of being
selected as Lucky Dog.

Regards,
The Piishi team
{% endautoescape %}