{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-7">
        <p class="lead">Thank you for confirming your email address.</p>
        <p class="lead">Now you can continue to use Piishi.</p>
        <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div style="margin-top:10px" class="form-group row">
                <div class="col-sm-12 controls">
                    <button type="submit" class="btn btn-success">Continue  </button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}