<div class="row justify-content-center">
    <div class="col-9 col-md-8 col-xl-9">
        {% include 'match/soccer/teams_info.html' with match=match %}

        {% if predict %}
            {% include 'match/soccer/prediction_info_row.html' with match=match predict=predict %}
        {% elif not predict and not match.due %}
            <div class="row match-list-item-info show-prediction-form-btn-row">
                <div class="col">
                    <button class="btn btn-primary btn-sm show-prediction-form-btn">predict</button>
                </div>
            </div>
        {% endif %}
        {% if not match.due and predict %}
            <div class="row match-list-item-info show-prediction-form-btn-row">
                <div class="col">
                   <button class="btn btn-sm show-prediction-form-btn predict-edit-btn">edit</button>
                </div>
            </div>
        {% endif %}
        {% if form %}
            {% for error in form.non_field_errors %}
                <div class="form-group has-errors text-danger small">
                    {{error}}
                </div>
            {% endfor %}
            {% include 'match/soccer/prediction_form.html' with match=match predict=predict form=form %}
        {% endif %}
    </div>
</div>