body {
    padding-right: 15px;
    padding-left: 15px;
}

li {
    background-color: aliceblue;
}

li:nth-child(odd) {
    background-color: #eff0f1;
}

/*login stuff*/

.loginbox {
    margin-bottom: 20px;
}

/*--------------------------*/

/* header stuff*/

.header-nav {
    background-color: #5899c7!important;
}

.logo {
    max-width: 80px;
}
/*--------------------------*/

#nav-tab {
    font-size: 1.2em;
}

.submit-prediction {
    margin-top: 2.1em;
}

.tab-pain {
    margin-top: 0.5em;
    padding-left: 0;
    padding-right: 0;
}

.team-flag {
    max-width: 25px;
}

.match-list-item-info {
    margin-bottom: 10px;
}

.actual-scores-row {
    font-size: x-large;
}

.last-match-info {
    border-bottom: 1px black solid;
    margin-bottom: 15px;
}

.predicted-scores-row {
    background-color: #f9c83f4f;
}

.predict-submit-btns-row {
    margin-top: 10px;
}

.predict-edit-btn {
    background-color: #ec9573;
}


.scoreboard_position_1 {
    background-color: gold!important;
}

.scoreboard_position_2 {
    background-color: silver!important;
}

.scoreboard_position_3 {
    background-color: #A67D3D!important;
}

.scoreboard-badge {
    font-size: x-large;
}

#what_are_rules {
    cursor: pointer;
}

.rules-list {
    margin-bottom: 20px;
}

#back_to_scores_icon {
    cursor: pointer;
}

.royal-badge {
    color: gold;
}

.full-house-badge {
    color: saddlebrown;
}

.straight-badge {
    color: red;
}

.one-pair-badge {
    color: royalblue;
}

.oracle-badge {
    color: #7fbcf9;
}

.nostradamus-badge {
    color: #13c313;
}

.trelawney-badge {
    color: hotpink;
}