li {
    background-color: aliceblue;
}

li:nth-child(odd) {
    background-color: lightblue;
}

/*login stuff*/
.loginbox {
    margin-bottom: 20px;
}

.user-info-row {
    margin-top: 2.5em;
}

.user-info {
    font-size: x-large;
    padding-top: 0.4em;
    color: royalblue;
}

#nav-tab {
    font-size: x-large;
}

.submit-prediction {
    margin-top: 2.1em;
}

.match-list {
    margin-top: 0.5em;
}

.team-flag {
    max-width: 25px;
}