{% load static %}
<div class="row justify-content-center">

<nav class="navbar navbar-expand-lg navbar-light header-nav col-lg-8">
    <a href="{% url 'home' %}">
        <div class="navbar-brand">
            <img class="navbar-brand logo" src="{% static 'pishi/images/kitten.png' %}" alt="pishi">
            <span style="margin-left:-0.5em;font-size: x-large;color: #84391d;">Piishi</span>
        </div>
    </a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                  Rules
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'rules' %}">Fifa WorldCup</a>
                </div>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item text-center">
                    <a class="nav-link lead" href="{% url 'logout' %}">Sign out<span class="m-2">
                        <i class="fas fa-sign-out-alt sign-out-ico"></i></span>
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            {% endif %}
        </ul>
  </div>
</nav>
</div>
