{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="row justify-content-center content-wrapper">
        <div class="col-lg-8" >
            <div id="initial-start-message-wrapper" class="row border-bottom mb-3">
                <div class="col">
                    <p class="lead">Start by choosing a Match Set from below.</p>
                </div>
            </div>
            <div class="card-columns">
                {% include 'match/match_set_cards.html' %}
            </div>
            <div id="matches_container" style="display: none"></div>
        </div>
    </div>
{% endblock %}