{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'header.html' with LOGGED_IN='1' %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active"
               id="nav-predictions-tab"
               data-toggle="tab"
               href="#predictions"
               role="tab"
               aria-controls="nav-predictions"
               aria-selected="true"><strong>Predictions</strong></a>
            <a class="nav-item nav-link"
               id="nav-scoreboard-tab"
               data-toggle="tab"
               href="#scoreboard"
               role="tab"
               aria-controls="nav-scoreboard"
               aria-selected="false"><strong>ScoreBoard</strong></a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div id="predictions" class="tab-pain fade show active" role="tabpanel" aria-labelledby="nav-predictions-tab">
            {% include 'match_list.html' %}
        </div>
        <div id="scoreboard" class="tab-pain fade" role="tabpanel" aria-labelledby="nav-scoreboard-tab">
            {% include 'scoreboard.html' %}
        </div>
    </div>

{% endblock %}