{% load tz %}
<div class="row">
    <div class="col-5">
        <p><strong>{{ match }}</strong></p>
        <p>({{ match.date | localtime | date:"D d M, h:i A" }})</p>
    </div>
    <div class="col">
        {% if match.finished %}
            {{ match.home_result }}-{{ match.away_result }}
            {% if match.home_penalty %}
                (penalty: {{ match.home_penalty }}-{{ match.away.penalty }})
            {% endif %}
        {% endif %}
    </div>
    <div class="col">
        {% include 'predict_column.html' with match=match predict=predict %}
    </div>
</div>