<ul class="list-group match-list">
    <li class="list-group-item active sticky-top">
        <div class="row">
            <div class="col-5">
                <strong>Teams(Home vs Away)</strong>
            </div>
            <div class="col">
                <strong>Actual Result</strong>
            </div>
            <div class="col">
                <strong>Your Prediction</strong>
            </div>
        </div>
    </li>
    {% for pair in pairs %}
        <li class="list-group-item {% if pair.1 or pair.0.due %}disabled {% endif %}">
            {% include 'match.html' with match=pair.0 predict=pair.1 %}
        </li>
    {% endfor %}
</ul>