<form class="predict-form">
    {% csrf_token %}
    <div class="form-row">
        <div class="col">
{#                <label class="col-form-label col-form-label-sm" for="home_result_predict">Home Score</label>#}
            <input id="home_result_predict" placeholder="{{ match.home_team.fifa_code | upper }}" class="form-control form-control-sm" type="number" name="home_result_predict" required>
        </div>
        -
        <div class="col">
{#                <label class="col-form-label col-form-label-sm" for="away_result_predict">Away Score</label>#}
            <input id="away_result_predict" placeholder="{{ match.away_team.fifa_code | upper }}" class="form-control form-control-sm" type="number" name="away_result_predict" required>
        </div>
        <input id="match_pk" type="hidden" value="{{ match.pk }}">
        <input id="match_type" type="hidden" value="{{ match.type }}">
        {% if match.type == 1 %}
            <div class="home-penalty-input col" hidden>
                <label class="col-form-label col-form-label-sm" for="home_penalty_predict">Home Penalty</label>
                <input id="home_penalty_predict" class="form-control form-control-sm" type="number" >
            </div>
            <div class="away-penalty-input col" hidden>
                <label class="col-form-label col-form-label-sm" for="away_penalty_predict">Away Penalty</label>
                <input id="away_penalty_predict" class="form-control form-control-sm" type="number" >
            </div>
        {% endif %}
        <div class="col">
            <button class="predict-submit-button" type="submit"><i class="fas fa-check predict-submit-icon"></i></button>
{#                <button class="btn btn-success btn-sm submit-prediction" type="submit">Predict</button>#}
        </div>
    </div>
</form>
